<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editando servicio</h1>

  <%= render "form", service: @service %>

  <%= link_to "Ver servicio", @service, class: "rounded-lg py-3 px-5 bg-blue-600 inline-block font-medium" %>
  <%= link_to "Cancelar", services_path, class: "rounded-lg py-3 px-5 bg-blue-600 inline-block font-medium" %>
</div>
