<div class="mx-auto md:w-2/3 w-full h-screen">
  <h1 class="font-bold text-4xl">Nueva cita</h1>

  <%= render "form", meeting: @meeting %>

  <%= link_to "Regresar", meetings_path, class: "ml-2 rounded-lg py-3 px-5 bg-blue-600 inline-block font-medium" %>
</div>
