<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editando cliente</h1>

  <%= render "form", client: @client %>

  <%= link_to "Cancelar", clients_path, class: "mt-2 rounded-lg py-3 px-5 border border-green-950 rounded inline-block font-medium" %>
</div>
